.App {
    background-color: cadetblue;
    height: 100vh;
    padding-top: 20px;
}

.wrapper {
    background-color: #fff;
    padding: 40px;
}
button {
    background-color: green;
    font-size: 16px;
    padding: 15px 30px;
    color: white;
    width: 100px;
}

.count {
    font-size: 50px;
    padding: 15px 30px;
}

.wrapper {
    width: 980px;
    display: block;
    margin: 0 auto;
}